{% extends 'EIdeasOpScraperBundle::base.html.twig' %}

{% block javascript_includes %}
    {{ parent() }}
    <script src="/js/typeahead.bundle.js"></script>
{% endblock %}

{% block css_includes %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block body %}
    {{ include("EIdeasOpScraperBundle::shared/navbar.html.twig") }}
    <div class="container-fluid">
        <div class="row">
            <div class="client-info">
                Hello.
            </div>
        </div>
        <div class="row">
            {{ include('EIdeasOpScraperBundle::shared/sidebar.html.twig') }}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block container %}{% endblock %}

                <div class="footer">
                    <p class="text-muted">&copy; {{ "now"|date("Y") }} Elliot Laffey</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}